

body {
    background-color: #333333;
}
.fota {
    max-width: 300px;
    height: 100% auto;
    margin-bottom: 20px;
}

img[src="undefined"] {
    display: none;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 20px;
}

.foty {
    margin-top: 20px;
    border-radius: 20px;
}

.box {
    color: white;
    font-size: medium;
    font-family: 'Roboto', sans-serif;
    background-color: #232323;
    border-radius: 20px;
    padding-left: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.naglowek {
    font-size: 30px;
    font-family: 'cus', sans-serif;
    margin-bottom: 10px;
    text-align: center;
}

iframe {
    border-radius: 20px;
}